body {
    text-align: center;
    padding-top: 50px;
}
#radios {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}
p {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-bottom: 1px solid black;
}
p:last-child {
    border-bottom: none;
}
