body {
    text-align: center;
    margin-top: 50px;
}
.container{
    background-color: beige;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #d3d3b6;
}
#radios {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}
p {
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid black;
}
h3 {
    line-height: 2em;
}
p:last-child {
    border-bottom: none;
}
